<footer>
    <p>Contact us:</p>
    <p>Phone: 0327971421</p>
    <p>Email: trin41996@gmail.com</p>
    <div class="card_social">
        <a href="https://www.facebook.com/profile.php?id=100050312422468">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
    
        <a href="https://www.instagram.com/_karin.07/">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
    
        <a href="https://www.threads.net/@_karin.07">
            <i class="fa-brands fa-square-threads"></i>
        </a>
    
        <a href="https://github.com/Karin1412">
            <i class="fa-brands fa-square-github"></i>
        </a>
    </div>
</footer>